- content_for :title, @person.display_name

- content_for :sidebar do
  .sidebar
    - if @teams.any?
      .sidebar-section
        h2.sidebar-heading Teams
        .team-list
          - @teams.each do |team|
            .team-row
              = link_to team.name, team_profile_path(team.name), class: "team-row-name"
              - if team.visibility_private?
                span.team-badge.badge-private Private

    .sidebar-section
      h2.sidebar-heading Additional aliases
      - additional_aliases = @aliases.reject { |al| al.id == @primary_alias&.id }
      - if additional_aliases.any?
        .alias-list
          - additional_aliases.each do |al|
            .alias-row
              = image_tag al.display_gravatar_url(size: 32), class: "alias-row-avatar", alt: al.name
              .alias-row-details
                span.alias-row-name = al.name
                span.alias-row-email = al.email
      - else
        p No additional aliases.

.person-container
  .person-profile
    .profile-header
      .profile-avatar
        = image_tag @primary_alias&.gravatar_url(size: 120), class: "profile-avatar-image", alt: @person.display_name
      .profile-details
        h1.profile-name = @person.display_name
        - if @primary_alias
          p.profile-email = @primary_alias.email
        - if @person.contributor_memberships.any?
          - badge = @primary_alias&.contributor_badge || @person.contributor_badge
          - if badge.present?
            span.profile-badge = badge

    = render "stats"

    - message_panel = capture do
      = turbo_frame_tag "person-activity" do
        = render "activity_filters"
        .profile-section
          = render "contributions"
        = render "recent_threads"

    - commit_frame_options = { src: person_commits_path(@profile_email, week_start: WeekCalculation.week_start_param(@week_start_day)) }
    - commit_frame_options[:loading] = "lazy" unless @active_tab == :commits
    - commit_panel = capture do
      = turbo_frame_tag "person-commit-activity", **commit_frame_options

    = render "shared/profile/activity_tabs", active: @active_tab, panels: [{ key: :messages, label: "Email activity", body: message_panel }, { key: :commits, label: "Commit activity", body: commit_panel }]
