- content_for :title, @team.name

- content_for :sidebar do
  .sidebar
    .sidebar-section
      h2.sidebar-heading Members
      - if @members.any?
        .member-list
          - @members.each do |tm|
            - user = tm.user
            - person = user.person
            - display_alias = person&.default_alias || user.aliases.first
            .member-row
              - if display_alias
                = image_tag display_alias.display_gravatar_url(size: 32), class: "member-row-avatar", alt: display_alias.name
                .member-row-details
                  = link_to display_alias.email, person_path(display_alias.email), class: "member-row-name"
              - else
                .member-row-details
                  span.member-row-name User ##{user.id}
      - else
        p No members yet.

.team-container
  .team-profile
    .profile-header
      .profile-details
        h1.profile-name = @team.name
        .team-visibility
          - case @team.visibility
          - when "private"
            span.team-badge.badge-private Private team
          - when "visible"
            span.team-badge.badge-visible Visible team
          - when "open"
            span.team-badge.badge-open Open team
        p.profile-meta
          = pluralize(@members.count, 'member')

    = render "stats"

    - message_panel = capture do
      = turbo_frame_tag "team-activity" do
        = render "activity_filters"
        .profile-section
          = render "contributions"
        = render "recent_threads"

    - commit_frame_options = { src: team_commits_path(@team.name, week_start: WeekCalculation.week_start_param(@week_start_day)) }
    - commit_frame_options[:loading] = "lazy" unless @active_tab == :commits
    - commit_panel = capture do
      = turbo_frame_tag "team-commit-activity", **commit_frame_options

    = render "shared/profile/activity_tabs", active: @active_tab, panels: [{ key: :messages, label: "Email activity", body: message_panel }, { key: :commits, label: "Commit activity", body: commit_panel }]
